USE [master]
GO
/****** Object:  Database [DBQuiz]    Script Date: 19/12/2023 12:49:28 ******/
CREATE DATABASE [DBQuiz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBQuiz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEVLOCAL\MSSQL\DATA\DBQuiz.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBQuiz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEVLOCAL\MSSQL\DATA\DBQuiz_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBQuiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBQuiz]
GO
/****** Object:  Table [dbo].[Pergunta]    Script Date: 19/12/2023 12:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pergunta](
	[PER_ID] [decimal](18, 0) NOT NULL,
	[PER_PES_ID] [decimal](18, 0) NOT NULL,
	[PER_PES_CLI_ID] [nvarchar](50) NOT NULL,
	[PER_DES] [nvarchar](50) NULL,
	[PER_DAT_INC] [datetime2](7) NULL,
	[PER_DAT_ALT] [datetime2](7) NULL,
 CONSTRAINT [PK_Pergunta] PRIMARY KEY CLUSTERED 
(
	[PER_ID] ASC,
	[PER_PES_ID] ASC,
	[PER_PES_CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pesquisa]    Script Date: 19/12/2023 12:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pesquisa](
	[PES_ID] [decimal](18, 0) NOT NULL,
	[PES_CLI_ID] [nvarchar](50) NOT NULL,
	[PES_NOME] [nvarchar](30) NULL,
	[PES_DES] [nvarchar](100) NULL,
	[PES_VLD] [datetime] NULL,
	[PES_DAT_INC] [datetime] NULL,
	[PESQ_DAT_ALT] [datetime] NULL,
 CONSTRAINT [PK_Pesquisa] PRIMARY KEY CLUSTERED 
(
	[PES_ID] ASC,
	[PES_CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questao]    Script Date: 19/12/2023 12:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questao](
	[QTO_ID] [decimal](18, 0) NOT NULL,
	[QTO_PER_ID] [decimal](18, 0) NOT NULL,
	[QTO_PER_PES_ID] [decimal](18, 0) NOT NULL,
	[QTO_PER_PES_CLI_ID] [nvarchar](50) NOT NULL,
	[QTO_DES] [nvarchar](50) NULL,
	[QTO_OBJ] [bit] NULL,
	[QTO_DAT_INC] [datetime2](7) NULL,
	[QTO_DAT_ALT] [datetime2](7) NULL,
 CONSTRAINT [PK_Questao] PRIMARY KEY CLUSTERED 
(
	[QTO_ID] ASC,
	[QTO_PER_ID] ASC,
	[QTO_PER_PES_ID] ASC,
	[QTO_PER_PES_CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questionario]    Script Date: 19/12/2023 12:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questionario](
	[QUE_ID] [decimal](18, 0) NOT NULL,
	[QUE_CLI_ID] [nvarchar](50) NULL,
	[QUE_SX] [nvarchar](1) NULL,
	[QUE_IDA] [smallint] NULL,
	[QUE_REL] [smallint] NULL,
	[QUE_LAT] [numeric](18, 0) NULL,
	[QUE_LON] [numeric](18, 0) NULL,
	[QUE_APL] [nvarchar](50) NULL,
	[QUE_DAT_INC] [datetime2](7) NULL,
	[QUE_DAT_ALT] [datetime2](7) NULL,
 CONSTRAINT [PK_Questionario] PRIMARY KEY CLUSTERED 
(
	[QUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resposta]    Script Date: 19/12/2023 12:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resposta](
	[RES_QUE_ID] [decimal](18, 0) NOT NULL,
	[RES_QTO_ID] [decimal](18, 0) NOT NULL,
	[RES_QTO_PER_ID] [decimal](18, 0) NOT NULL,
	[RES_QTO_PER_PES_ID] [decimal](18, 0) NOT NULL,
	[RES_QTO_PER_PES_CLI_ID] [nvarchar](50) NOT NULL,
	[RES_DES] [nvarchar](50) NULL,
	[RES_DAT_INC] [datetime2](7) NULL,
	[RES_DAT_ALT] [datetime2](7) NULL,
 CONSTRAINT [PK_Resposta] PRIMARY KEY CLUSTERED 
(
	[RES_QUE_ID] ASC,
	[RES_QTO_ID] ASC,
	[RES_QTO_PER_ID] ASC,
	[RES_QTO_PER_PES_ID] ASC,
	[RES_QTO_PER_PES_CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pergunta]  WITH CHECK ADD  CONSTRAINT [FK_Pergunta_Pesquisa] FOREIGN KEY([PER_PES_ID], [PER_PES_CLI_ID])
REFERENCES [dbo].[Pesquisa] ([PES_ID], [PES_CLI_ID])
GO
ALTER TABLE [dbo].[Pergunta] CHECK CONSTRAINT [FK_Pergunta_Pesquisa]
GO
ALTER TABLE [dbo].[Questao]  WITH CHECK ADD  CONSTRAINT [FK_Questao_Pergunta] FOREIGN KEY([QTO_PER_ID], [QTO_PER_PES_ID], [QTO_PER_PES_CLI_ID])
REFERENCES [dbo].[Pergunta] ([PER_ID], [PER_PES_ID], [PER_PES_CLI_ID])
GO
ALTER TABLE [dbo].[Questao] CHECK CONSTRAINT [FK_Questao_Pergunta]
GO
ALTER TABLE [dbo].[Resposta]  WITH CHECK ADD  CONSTRAINT [FK_Resposta_Questao] FOREIGN KEY([RES_QTO_ID], [RES_QTO_PER_ID], [RES_QTO_PER_PES_ID], [RES_QTO_PER_PES_CLI_ID])
REFERENCES [dbo].[Questao] ([QTO_ID], [QTO_PER_ID], [QTO_PER_PES_ID], [QTO_PER_PES_CLI_ID])
GO
ALTER TABLE [dbo].[Resposta] CHECK CONSTRAINT [FK_Resposta_Questao]
GO
ALTER TABLE [dbo].[Resposta]  WITH CHECK ADD  CONSTRAINT [FK_Resposta_Questionario] FOREIGN KEY([RES_QUE_ID])
REFERENCES [dbo].[Questionario] ([QUE_ID])
GO
ALTER TABLE [dbo].[Resposta] CHECK CONSTRAINT [FK_Resposta_Questionario]
GO
/****** Object:  StoredProcedure [dbo].[PesquisaPerguntaPorPesquisa]    Script Date: 19/12/2023 12:49:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[PesquisaPerguntaPorPesquisa] 
as

select ps.PES_ID, ps.PES_NOME, pr.PER_ID , pr.PER_DES, qu.QTO_ID, qu.QTO_DES 
from  pesquisa ps
		inner join Pergunta pr on ps.PES_CLI_ID = pr.PER_PES_CLI_ID and ps.PES_ID = pr.PER_PES_ID
		left join Questao qu on qu.QTO_PER_PES_ID = pr.PER_PES_ID and qu.QTO_PER_PES_CLI_ID = pr.PER_PES_CLI_ID and qu.QTO_PER_ID = pr.PER_ID
order by pr.PER_PES_CLI_ID, pr.PER_PES_ID, pr.PER_ID,  qu.QTO_PER_ID
GO
USE [master]
GO
