@model bool
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmação de Cadastro</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
    @{
        if (Model)
        {
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Confirmação Concluído!</h4>
                <p>Sua confirmação foi concluída com sucesso, em caso de duvida entrar em contato com a nossa central de atendimento.</p>
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Atenção!</h4>
                <p>Foi encontrado um problema na sua confirmação, entre em contato com a nossa central de atendimento.</p>
            </div>
        }
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
