USE [master]
GO
/****** Object:  Database [DBManager]    Script Date: 19/12/2023 12:08:48 ******/
CREATE DATABASE [DBManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEVLOCAL\MSSQL\DATA\DBManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DEVLOCAL\MSSQL\DATA\DBManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBManager]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 19/12/2023 12:08:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[CLI_ID] [nvarchar](50) NOT NULL,
	[CLI_LOGIN] [nvarchar](6) NOT NULL,
	[CLI_NAME] [nvarchar](50) NOT NULL,
	[CLI_CPFCNPJ] [nvarchar](14) NOT NULL,
	[CLI_EMAIL] [nvarchar](100) NOT NULL,
	[CLI_SENHA] [nvarchar](50) NULL,
	[CLI_STATUS] [smallint] NULL,
	[CLI_DAT_CRE] [datetime2](7) NULL,
	[CLI_DAT_UPD] [datetime2](7) NULL,
	[CLI_DAT_LIB] [datetime2](7) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projeto]    Script Date: 19/12/2023 12:08:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projeto](
	[PRJ_ID] [numeric](18, 0) NOT NULL,
	[PRJ_NAME] [nvarchar](50) NULL,
	[PRJ_STA] [smallint] NULL,
 CONSTRAINT [PK_Projeto] PRIMARY KEY CLUSTERED 
(
	[PRJ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
